doctype html
html
  head
    link(rel='stylesheet', href='/styles/css/skeleton.css')
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/underscore/underscore.js')
    script(src='/lib/backbone/backbone.js')
    script(src='./FormView.js')
    script(src='./Boards.js')
  body
    .container
      form#newBoardForm
        label Create a new Message Board
        input#boardname.u-full-width(type='text', name='boardname', placeholder='Enter Board Name')
        input.button-primary(name='submit', type='submit', value='Create')
      .boards
