doctype html
html
  head
    link(rel='stylesheet', href='/styles/css/skeleton.css')
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/underscore/underscore.js')
    script(src='/lib/backbone/backbone.js')
    script(src='/board/MessageFormView.js')
  body
    h1#boardname!=boardname
    .container
      form#newMessageForm
        label Post a new Message
        input#message.u-full-width(type='text', name='message', placeholder='Thoughts')
        input.button-primary(name='submit', type='submit', value='Post')
      .messages
  script(src='/board/Messages.js')
